table {
    border: 1px solid red;
    border-collapse: collapse;

    tr {
        &:nth-child(odd){
            background-color: yellow;
            color: red;
        }
        &:nth-child(even){
            background-color: aqua;
            color: blue ;
        }

        td {
            border: 1px solid red;
            border-collapse: collapse;
            padding: 5px 10px;
        }

        th {
            border: 1px solid red;
            border-collapse: collapse;
            padding: 5px 10px;
        }
    }
}